*.err
*.out
*.log
*.txt
*.csv
!header.csv
examples/parallel/log
examples/parallel-cpu/logfile
bin/
bin.tar.gz
dist/
examples/parallel-cpu/infile.*
examples/parallel-cpu/outfile.*
examples/parallel-cpu/errfile.*
